.dummyDiv {
    display: contents;
}
.containerCrew {
    flex: 1 1 auto;
    max-height: 500px;
    width: 100vw;
    /* height: 100%; */
    display: flex;
    /* height: 100%; */
    /* flex-grow: 1; */
    /* border: 1px solid orange; */
}
.crewInfoBlock {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    /* justify-content: flex-end; */
    margin-left: min(100px, 7.5vw);
    height: fit-content;
    margin-right: clamp(50px, 60px, 70px);
}
.crewHeading {
    color: #FFF;
    font-family: Barlow Condensed;
    font-size: min(28px, 3vw);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.725px;
    text-transform: uppercase;
    margin-bottom: 50px;
    padding-top: 74px;
}
.crewHeading strong {
    opacity: .25;
    margin-right: 28px;
}

.crewRole {
    color: #FFF;
    font-family: Bellefair;
    font-size: min(32px, 3vw);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    opacity: 0.5042;
    margin-bottom: 15px;
}
.crewName {
    color: #FFF;
    font-family: Bellefair;
    font-size: min(56px, 4.2vw);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 27px;
}
.crewBio {
    color: #D0D6F9;
    font-family: Barlow;
    font-size: min(18px, 2vw);
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 177.778% */
    max-width: 444px;
    width: min(444px, 40vw);
    margin-bottom: 50px;
    height: clamp(128px, 160px, 160px);
    max-height: 200px;
    /* flex-grow: 1; */
}

.slider {
    margin-top: 20px;
}


.slider circle {
    opacity: .17;
}

.slider circle:hover {
    opacity: .5;
    cursor: pointer;
}
.slider circle.active {
    opacity: 1;
}

.slider circle.active:hover {
    opacity: 1;
}

.imgBlock {
    /* max-width: 900px; */
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-end;
    /* align-items: center; */
    /* border: 1px solid green; */
    height: clamp(fit-content, 100%, 100%);
    height: 100%;
    padding: 0;
    margin:auto;
}

.imgBlock img {
    /* border: 1px solid red; */
    height: 100%;
    max-height: 600px;
    max-width: 100%;
    min-width: 200px;
    /* height: 600px; */
    
    margin: 0;
}

@media screen and (max-height: 800px) {
    .imgBlock img {
        max-height: 500px;
    }
    .crewBio {
        margin-bottom: 20px;
    }
    .crewHeading {
        padding-top: 30px;
    }
}