.containerTechnology {
    width: 100%;
    display: flex;
    flex-grow: 1;
}

.terminologyBlock {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin-left: 20px;
    width: clamp(300px, 100%, 1000px);
    margin-right: 20px;

}

.vehicleBlock {
    display: flex;
    /* margin-bottom: 214px; */
    flex-grow: 1;
    width: 100%;
    max-width: 100%;
}

.technologyHeading {
    color: #FFF;
    font-family: Barlow Condensed;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.725px;
    margin: 0;
    margin-bottom: 10vh;
    padding-top: 76px;
}
.technologyHeading strong {
    opacity: .25;
    margin-right: 24px;
}

.vehicleNumbers {
    display: flex;
    flex-direction: column;
    margin-right: 80px;
}
.vehicleNumbers p {
    width: min(80px, 7vw);
    height: min(80px, 7vw);
    border-radius: 50%;
    color: #FFF;
    text-align: center;
    font-family: Bellefair;
    font-size: min(32px, 2.2vw);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-bottom: 32px;
    border: 1px solid rgba(255, 255, 255, .25);
}

.vehicleNumbers p:hover {
    border: 1px solid rgba(255, 255, 255, 1);
    cursor: pointer;
}

.vehicleNumbers p.active {
    background-color: white;
    color: black;
}

.vehicleText {
    color: #D0D6F9;
    font-family: Barlow;
    font-size: min(18px, 1.6vw);
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 177.778% */
    max-width: 444px;
    margin: 0;
}

.vehicleName {
    color: #FFF;
    font-family: Bellefair;
    font-size: min(56px, 5vw);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 17px;
}

.vehicleHeading  {
    color: #D0D6F9;
    font-family: Barlow Condensed;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.7px;
    margin: 0;
    margin-bottom: 11px;
}

.vehicleImgBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 10px;
}

.vehicleImgBlock img {
    max-width: 100%;
}

@media screen and (max-width: 1050px) {
    .vehicleNumbers {
        margin-right: 30px;
    }
}