.container {
    width: 100%;
    display: flex;
    flex-grow: 1;
}
.planetBlock {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 76px;
    margin-left: 30px;
}

.destinationHeading {
    color: #FFF;
    font-family: Barlow Condensed;
    font-size: min(28px, 2.6vw);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.725px;
    text-transform: uppercase;
}

.destinationHeading strong {
    margin-right: 28px;
    opacity: .25;
}

.planetBox {
    display: flex;
    flex-grow: 1;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}
.planetBlock img {
    max-width: 100%;
    width: 445px;
    height: auto;
}

.descriptionBlock {
    /* width: 50%; */
    /* padding-right: 164px; */
    margin-left: min(157px, 10vw);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
    /* margin-bottom: 118px; */
}

.planetLinks {
    color: #D0D6F9;
    font-family: Barlow Condensed;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.7px;
    display: flex;
    margin-bottom: 37px;
}
.planetLinks p {
    margin-right: 35px;
    margin-top: 0;
    margin-bottom: 0;
    height: 34px;
    border-bottom: 3px solid transparent;
}

.planetLinks p.active {
    border-bottom: 3px solid white;
    color: white;
}
.planetLinks p.active:hover {
    border-bottom: 3px solid white;
}

.planetLinks p:hover {
    cursor: pointer;
    border-bottom: 3px solid rgba(255, 255, 255, .5);
}

.planetName p {
    color: #FFF;
    font-family: Bellefair;
    font-size: min(100px, 7vw);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    margin-bottom: 14px;
    text-transform: uppercase;
}

.planetText {
    color: #D0D6F9;
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 177.778% */
    max-width: 444px;
    margin-bottom: 54px;
    min-height: 160px;
}

.planetLine {
    height: 1px;
    max-width: 444px;
    background: #383B4B;
    margin-bottom: 28px;
}

.distanceBlock {
    display: flex;
}

.distanceKm {
    margin-right: min(79px, 7vw);
}

.distLabel {
    color: #D0D6F9;
    font-family: Barlow Condensed;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.362px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 12px;
}

.distNum {
    color: #FFF;
    font-family: Bellefair;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin: 0;
}



@media screen and (max-width: 768px) {
    .planetBlock, .descriptionBlock {
        margin: 0;
        padding: 0px 10px;
    }
    .container {
        flex-direction: column;
    }
    .planetBlock {
        margin-top: 40px;
        width: 100%;
        align-items: flex-start;
    }
    .planetBox {
        justify-content: center;
        margin-top: 60px;
        max-width: 100%;
        padding: 0;
    }
    .planetBox img {
        max-width: min(300px, 100%);
    }
    .descriptionBlock {
        align-items: center;
        margin-top: 53px;
    }
    .planetLinks {
        margin-bottom: 32px;
    }
    .planetName p {
        font-size: 80px;
    }
    .planetText {
        font-size: 16px;
        line-height: 175%;
        text-align: center;
        max-width: 573px;
        margin-bottom: 49px;
        max-height: 94px;
        min-height: unset;
    }
    .planetLine {
        max-width: 573px;
        width: 100%;
    }
    .distanceBlock {
        justify-content: space-around;
    }
    .distanceKm, .time {
        text-align: center;
        margin-right: 0;
        max-width: 216px;
        width: 216px;
    }
}