.background {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.home {
  background-image: url("./assets/home/background-home-desktop.jpg");
}

.destination {
  background-image: url("./assets/destination/background-destination-desktop.jpg");
}