.background {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.home {
  background: url("./assets/home/background-home-desktop.jpg") no-repeat;
  background-size: cover;
}

.destination {
  background: url("./assets/destination/background-destination-desktop.jpg") no-repeat;
  background-size: cover;
}

.crew {
  background: url("./assets/crew/background-crew-desktop.jpg") no-repeat;
  background-size: cover;
}

.technology {
  background: url("./assets/technology/background-technology-desktop.jpg") no-repeat;
  background-size: cover;
}